html{
    height: 100vh;
    width: 100vw;
    background-color: lemonchiffon;
    background-size: 128px 128px;
    font-family: 'Quicksand', sans-serif;;
}

h1{
    
    color: gray;
    border: solid;
    border-radius: 15px
}

.sticky{
    position: absolute;
    background-color: gray;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;}

.new{
    background-color:lightgray;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.show{
    background-color:lightgray;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}